<div id="not_footer">
	<div id="main">
		<img class="center" id="daruma_doll" src="/assets/darumadoll.png"/>
		<p class="main_text">Olá, <%= @daruma.sender.name %>!<br/>
			Obrigado por confirmar que você é você :) <br/>
		  	O Daruma que você criou foi enviado para <%= @daruma.user.email %>.</p>
	</div>
</div>
<div id="footer">
</div>