<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá!</h1>
    <p>
      Você acabou de criar um Daruma de presente para <%= @sender.name %>.
      Por favor, confirme que você quer enviá-lo clicando no link abaixo:<br/><br/>

      <%= link_to url_for(:controller => "darumas", :action => "confirm", :id => @id, :token => @token, :only_path => false) ,:controller => "darumas", :action => "confirm", :id => @id, :token => @token, :only_path => false %><br/><br/>

      Se não foi você que criou o Daruma, basta ignorar este e-mail que ele não será enviado.<br/><br/>

      Um abraço!<br/><br/>

      Equipe <a href="http://mydarumadoll.com">mydarumadoll.com</a><br/>
      Fale conosco: <a href="mailto:daruma@mydarumadoll.com">daruma@mydarumadoll.com</a>
    </p>
  </body>
</html>