<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá!</h1>
    <p>
      Alguém que gosta de você, <%= @sender.name %>,
      te presenteou com um Daruma.<br/>
      Um abraço!<br/><br/><br/>
      Equipe <a href="http://mydarumadoll.com">mydarumadoll.com</a><br/>
      Fale conosco: <a href="mailto:daruma@mydarumadoll.com">daruma@mydarumadoll.com</a>
    </p>
  </body>
</html>