<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá!</h1>
    <p>
      Seu (sua) amigo(a) <%= @sender.name %>
      te presenteou com um Daruma.<br/>
    </p>
  </body>
</html>