<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Olá!</h1>
    <p>
      Você acabou de criar um Daruma de presente para o seu/sua amigo/amiga <%= @sender.name %>.
      Por favor, confirme que você quer enviá-lo clicando no link abaixo:

      <a href=""></a>

      Se não foi você que criou o Daruma, ignore este e-mail que ele não será enviado.

      Um abraço!

      Equipe <a href="http://mydarumadoll.com">mydarumadoll.com</a>
      Fale conosco: <a href="mailto:daruma@mydarumadoll.com">daruma@mydarumadoll.com</a>
    </p>
  </body>
</html>