// Place all the styles related to the darumas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#daruma_doll {
  margin-bottom: 20px;
  margin-top: 178px;
}

h1 {
  color: #666;
  font-family: Walkway, Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

#new_daruma {
  margin-top: 20px;
  width: 480px;
}

#new_daruma label {
  width: 180px;
}

#new_daruma input[type="text"] {
  display: inline-block;
  width: 200px;
}

.main_text {
  color: #666;
  font-family: Walkway, Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 480px;
}