// Place all the styles related to the darumas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#daruma_doll {
  margin-bottom: 20px;
  margin-top: 178px;
}

h1 {
  color: #666;
  font-family: Walkway, Verdana, Geneva, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
}

#new_daruma {
  margin-top: 20px;
  width: 480px;
}

#new_daruma input[type="text"] {
  margin-right: 100px;
}