@font-face {
  font-family: Walkway;
  font-style: normal;
  font-weight: bold;
  src: url('Walkway-Bold.ttf');
/*TODO src: url('<%= asset_path('fontawesome-webfont.eot') + '?#iefix' %>') format('eot'), url('<%= asset_path('fontawesome-webfont.woff') %>') format('woff'), url('<%= asset_path('fontawesome-webfont.ttf') %>') format('truetype'), url('<%= asset_path('fontawesome-webfont.svg') + '#FontAwesome' %>') format('svg');*/
}
