html {
  height: 100%;
}

body {
  background: #fff url('top.png') repeat-x;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
  line-height: 18px;
}

#main {
  overflow:auto;
  padding-bottom: 66px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#not_footer {
  min-height: 100%;
}

#footer {
  background: #fff url('footer.png') repeat-x;
  clear:both;
  height: 66px;
  margin-top: -66px; /* negative value of footer height */
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_center {
  display: block;
  text-align: center;
}

.text_right {
  display: block;
  text-align: right;
}

input[type="text"] {
  background-color: #e3ffff;
  border: 1px solid #c7ecec;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  height: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

input[type="submit"] {
  background-color: #666;
}